/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .header__model {
        opacity: .55;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 850px) {
    .header {

        &__preview {
            width: 70%;
        }

        &__social {
            width: 30%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .burger {
        position: absolute;
        top: 13px;
        left: 10px;

        display: block;
    }

    .header__title {
        margin-left: 50px;
    }


    .header__navigation {
        display: none;
    }

    .header__content {
        flex-direction: column;
        text-align: center;
    }

    .header__preview {
        width: 90%;
        margin: 0 auto;
    }

    .header__social {
        width: 100%;
        margin: 0 auto;

    }

    .social__list {
        flex-direction: row;
        justify-content: center;
    }

    .social__link {
        margin: 50px 15px 0;
    }

    .header__model {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .header__title {
        margin-left: 0;
    }

    .header__top {
        flex-direction: column;
        align-items: center;
    }


    .header__content {
        padding: 60px 0;
    }

    .header__contact {
        margin-top: 15px;

        text-align: center;
    }

    .preview__title {
        font-size: 35px;
        line-height: 38px
    }

    .preview__text {
        font-size: 15px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}