.button {
    display: inline-block;
    padding: 17px 30px;

    font-weight: 500;
    line-height: 14px;

    color: #fff;
    font-family: inherit;

    border: none;
    text-decoration: none;
    cursor: pointer;

    background-color: #FB9475;
    border-radius: 24px;
    transition: background .2s linear;

    &:hover {
        background: #df6f4d;
    }

    &--small {
        padding: 10px 20px;

        font-size: 12px;
    }

    &--big {
        width: 100%;
    }
}

.carousel-nav {

    &__btn {
        display: inline-block;
        padding: 20px;


        border: none;
        background: none;
        border-radius: 50%;

        cursor: pointer;
        transition: background-color .2s ease-in-out;

        &--prev {
            margin-right: 16px;

            background: url('../images/dest/icon/prev.svg') center no-repeat;
        }

        &--next {
            background: url('../images/dest/icon/next.svg') center no-repeat;
        }


        &:hover {
            background-color: #F8F6F7;
        }
    }
}