.fancybox__content {
    padding: 0rem;
}

.form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.form {

    &__inner {
        position: relative;

        width: 445px;
        padding: 40px 35px;

        @include breakpoint($small-devices2) {
            width: 350px;
            padding: 30px 20px;
        }

        @include breakpoint($phones) {
            width: 290px;
            padding: 20px 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 14px;
    }

    &__text {
        width: 100%;
        margin-top: 15px;

        line-height: 20px;
    }

    &__name,
    &__tel,
    &__select,
    &__date {
        width: 100%;
        padding: 15px 16px;

        border: 1px solid #D8D8D8;
        border-radius: 4px;

        font-family: inherit;

        transition: border .3s linear;

        &::placeholder {
            color: #A0A0A0;
        }

        &:focus {
            border: 1px solid #000;
        }

    }

    &__name {
        margin-top: 35px;
    }

    &__tel,
    &__select,
    &__date {
        margin-top: 20px;
    }

    &__select {
        cursor: pointer;
    }

    &__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;

        &-margintop {
            margin-top: 20px;
            text-align: center;
        }
    }

    &__personal {
        border-bottom: 1px solid #278AFF;
        color: #278AFF;

        &:hover {
            border-bottom: none;
        }
    }

    &__success {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 80%;
        padding: 30px 10px;

        text-align: center;

        transform: translate(-50%, -50%);

        background: #fff;
        border: 1px solid #fb9475;
        border-radius: 22px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 250px;
        transform: translate(-50%, -50%);

        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        color: #fb9475;

        &::after,
        &::before {
            position: absolute;

            display: block;
            width: 15px;
            height: 15px;
            background: #fb9475;

            content: "";
            animation: form__loader 0.81s infinite alternate ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}

@keyframes form__loader {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 39px;
    }

    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}