.header {
    width: 100%;
    height: auto;

    background: url('../images/dest/header/header-bg.jpg') center no-repeat;
    background-size: cover;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    transition: transform .1s linear;

    &:hover {
        transform: scale(1.05);
    }
}

.header {

    &__top {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        padding-top: 30px;
    }

    &__title {
        min-width: fit-content;
    }


    &__contact {
        min-width: fit-content;
        text-align: right;
    }


    &__content {
        position: relative;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        padding: 120px 0 130px;
    }


    &__preview {
        position: relative;
        z-index: 2;

        width: 60%;
    }


    &__model {
        position: absolute;
        bottom: 0;
        right: 80px;

        overflow: hidden;

        &::before {
            position: absolute;
            bottom: -110px;
            right: 0;
            z-index: 0;

            display: block;
            width: 472px;
            height: 472px;

            background-color: #FB9475;
            border-radius: 50%;

            content: "";
        }
    }


    &__social {
        width: 40%;
        margin-bottom: 90px;

        text-align: right;
    }
}

.navigation {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px 28px;

    }


    &__link {
        font-weight: 500;

        transition: color .1s linear;

        &:hover {
            color: #00BF78
        }

        &--fw {
            font-weight: 400;
        }
    }
}

.header-phone {

    &__number {
        font-weight: 500;
        font-size: 18px;
        line-height: 14px;

        &:hover {
            text-shadow: 0px 0px 1px #000;
        }
    }

    &__text {
        margin-top: 6px;

        font-size: 11px;
        line-height: 14px;
    }
}


.preview {

    &__title {
        margin-bottom: 17px;

        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
    }


    &__text {
        margin-bottom: 59px;

        font-size: 20px;
        line-height: 24px;
    }

}

.model {

    &__photo {
        position: relative;
        z-index: 1;

        display: block;
        width: 524px;
        height: auto;
    }
}

.social {

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin-bottom: 16px;
    }

    &__item {
        display: inline-block;
        width: 28px;
        height: auto;

        transition: opacity .1s linear;

        &:hover {
            opacity: .8;
        }
    }
}