.navigation {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px 28px;

    }

    &__item {
        margin-top: 5px;
    }

    &__link {
        font-weight: 500;

        transition: color .1s linear;

        &:hover {
            color: #00BF78
        }

        &--fw {
            font-weight: 400;
        }
    }
}