.section {

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;

        @include breakpoint($small-devices) {
            font-size: 42px;
        }

        @include breakpoint($phones) {
            text-align: center;
            font-size: 32px;
            line-height: 32px;
        }

        &_small {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }

    &__header {
        margin-top: 100px;

        @include breakpoint($small-devices) {
            margin-top: 50px;
        }

        &_paddingtop {
            padding-top: 80px;

            @include breakpoint($phones) {
                padding-top: 50px;
            }
        }

        &_between {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include breakpoint($small-devices) {
                flex-direction: column;
            }
        }
    }

    &__inner {
        margin-top: 32px;

        padding-bottom: 20px;

        @include breakpoint($small-devices) {
            margin: 16px 0 10px;
        }

        &_margintop {
            margin-top: 40px;
        }

        &_flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            margin-top: 0;
            padding: 40px 95px 40px 0;

            @include breakpoint($medium-devices) {
                flex-direction: column;
                align-items: center;

                padding: 40px 0;
            }
        }
    }

    &__navigation {
        display: flex;
    }

    &_gray {
        background: #F8F6F7;
    }

    &__carousel {
        @include breakpoint($small-devices) {
            margin-top: 20px;
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    @include breakpoint($small-devices2) {
        margin-bottom: 45px;
        flex-direction: column;
    }
}

.about {

    &__description {
        width: 49%;
        margin-bottom: 32px;

        @include breakpoint($small-devices) {
            width: 54%;
            margin-bottom: 16px;
        }

        @include breakpoint($small-devices2) {
            width: 100%;
        }
    }

    &__text {
        margin-bottom: 16px;

        font-size: 20px;
        line-height: 32px;

        @include breakpoint($small-devices2) {
            text-align: justify;
        }

        @include breakpoint($phones) {
            font-size: 18px;
            line-height: 26px;
            text-align: justify;
        }
    }

    &__moretext {
        font-size: 16px;
        line-height: 26px;

        @include breakpoint($small-devices2) {
            text-align: justify;
        }

        @include breakpoint($phones) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__video {
        position: relative;

        width: 40%;
        height: fit-content;

        @include breakpoint($small-devices) {
            width: 45%;
        }

        @include breakpoint($small-devices2) {
            width: 70%;
            margin: 0 auto;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            display: block;
            width: 100%;
            height: 100%;

            border-radius: 10px;
            background: #000;
            opacity: .2;

            content: "";
        }
    }
}

.video {

    &__file {
        display: block;
        width: 100%;
        height: auto;

        border-radius: 10px;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #fff;

        transform: translate(-50%, -50%);

        @include breakpoint($small-devices) {
            font-size: 14px;
        }

        @include breakpoint($phones) {
            top: 60%;

            font-size: 0;
        }

        &:before {
            position: relative;

            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;

            border: 2px solid #fff;
            border-radius: 50%;
            background: url('../images/dest/icon/arrow-right.svg') 56% no-repeat;

            opacity: .5;
            transition: transform .2s ease-in-out;

            content: "";
            cursor: pointer;

            @include breakpoint($small-devices) {
                width: 50px;
                height: 50px;
            }

        }

        &:hover.video__text:before {
            transform: scale(1.05);

        }
    }
}

.about-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.about-footer {

    &__item {
        width: 33.33%;
        padding: 10px 48px;

        text-align: center;

        @include breakpoint($small-devices) {
            padding: 10px;
        }

        @include breakpoint($small-devices2) {
            width: 50%;
        }

        @include breakpoint($small-phones) {
            width: 100%;
            padding: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.about-item {

    &__img {
        width: 48px;
        height: 48px;
    }

    &__title {
        margin: 28px 0 12px;

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

        @include breakpoint($small-devices) {
            margin: 18px 0 12px;
        }
    }

    &__text {
        line-height: 22px;
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px 20px;

    @include breakpoint($medium-devices) {
        justify-content: center;
    }

}

.card {

    &__item {
        flex-basis: 30%;
    }

    &__preview {
        display: block;
        height: 180px;

        border-radius: 8px;

        overflow: hidden;

        &:hover .card__image {
            transform: scale(1.1);
            transition-duration: 3s;
        }
    }

    &__image {
        display: block;
        width: 350px;
        height: 100%;
        object-fit: cover;

        border-radius: 8px;

        @include breakpoint($phones) {
            width: 300px;
        }
    }

    &__title {
        margin-top: 20px;

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__description {
        margin-top: 8px;
        margin-bottom: 16px;

        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }
}

.tabs {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 36px 125px;

        margin-top: 47px;

        @include breakpoint($medium-devices) {
            gap: 25px 100px;
        }

        @include breakpoint($small-devices2) {
            gap: 15px 70px;
        }

        @include breakpoint($small-devices3) {
            flex-direction: column;
            align-items: center;
        }
    }


    &__item {
        display: flex;
        justify-content: space-between;
        width: 40%;

        @include breakpoint($small-devices3) {
            width: 80%;
        }

        @include breakpoint($small-phones) {
            width: 92%;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &__text {
        margin-top: 8px;

        line-height: 16px;
    }

    &__coast {
        white-space: nowrap;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #00BF78;
    }
}

.masters {

    &__about {
        font-size: 16px;
        line-height: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 0;

        margin-top: 24px;
        padding-bottom: 80px;

        @include breakpoint($medium-devices) {
            justify-content: center;
            gap: 20px;
        }
    }
}

.card-master {
    flex-basis: 25%;
}

.card-master {

    &__link {
        position: relative;

        display: block;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            display: block;
            width: 255px;
            height: 300px;

            border-radius: 8px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

            content: "";
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        &:hover .card-master__enroll {
            opacity: 1;
        }

        &:hover::after {
            opacity: 1;
        }

    }

    &__photo {
        position: relative;

        display: inline-block;
        width: 255px;
        height: 300px;
        object-fit: cover;

        border-radius: 8px;
    }

    &__enroll {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        font-weight: 500;
        line-height: 17px;
        color: #fff;
        text-align: center;

        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .2s ease-in-out;

    }

    &__name {
        margin-top: 20px;
        padding-right: 10px;

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__prof {
        margin-top: 8px;

        line-height: 16px;
    }

    &__experience {
        margin-top: 20px;

        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
    }
}

.carousel-nav {

    &__btn {
        display: inline-block;
        padding: 20px;

        border: none;
        background: none;
        border-radius: 50%;

        cursor: pointer;
        transition: background-color .2s ease-in-out;

        &_prev {
            margin-right: 16px;

            background: url('../images/dest/icon/prev.svg') center no-repeat;
        }

        &_next {
            background: url('../images/dest/icon/next.svg') center no-repeat;
        }

        &:hover {
            background-color: #F8F6F7;
        }
    }
}

.swiper-wrapper {
    padding: 20px 0;
}

.swiper-slide {
    transform: none;
}

.works {

    &__item {
        position: relative;

        width: 25%;
        height: 338px;

        cursor: pointer;
        transition: transform .2s ease-in-out;

        @include breakpoint($small-devices) {
            width: 40%;
        }

        @include breakpoint($phones) {
            width: 80%;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            display: block;
            width: 100%;
            height: 100%;

            border-radius: 8px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

            content: "";
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:hover::after {
            opacity: 1;
        }

        &:hover .works__closer {
            opacity: 1;
        }
    }

    &__img {
        display: block;

        width: 100%;
        height: 338px;
        object-fit: cover;

        border-radius: 8px;
    }

    &__closer {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        text-align: center;

        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    &__text {
        margin-top: 8px;

        font-weight: 500;
        line-height: 18px;
        color: #fff;
    }
}

.brands {

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px 70px;

        margin: 40px 0 67px;

        @include breakpoint($small-devices2) {
            flex-wrap: wrap;
            margin-top: 20px;
        }
    }

    &__item {
        flex-basis: 10%;

        @include breakpoint($small-devices2) {
            flex-basis: 20%;
        }

        @include breakpoint($phones) {
            flex-basis: 30%;
        }
    }

    &__img {
        display: block;

        width: 100%;
        height: auto;

        opacity: .35;
    }
}

.contacts {
    flex-basis: 30%;

    @include breakpoint($small-devices2) {
        text-align: center;
    }
}

.contacts {

    &__title {
        margin-top: 38px;

        font-weight: 700;
        font-size: 48px;
        line-height: 58px;

        @include breakpoint($phones) {
            margin-top: 0;

            text-align: center;
            font-size: 32px;
            line-height: 32px;
        }
    }

    &__inner {
        margin: 32px 0 40px;
    }

    &__address {
        font-size: 16px;
        line-height: 20px;
    }

    &__tel {
        display: block;
        margin-top: 20px;

        font-size: 16px;
        line-height: 14px;

        transition: text-decoration .2s linear;

        &:hover {
            text-decoration: underline;
        }
    }

    &__email {
        display: block;
        margin-top: 20px;

        font-size: 16px;
        line-height: 20px;
        color: #278AFF;
        text-decoration: underline;

        transition: text-decoration .2s linear;

        &:hover {
            text-decoration: none;
        }
    }

    &__text {
        margin: 32px 0 12px;

        font-size: 12px;
        line-height: 14px;
    }

    &__form {
        @include breakpoint($small-devices) {
            text-align: center;
        }
    }
}

.form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.form {

    &__inner {
        width: 445px;
        padding: 40px 35px;

        @include breakpoint($small-devices2) {
            width: 350px;
            padding: 30px 20px;
        }

        @include breakpoint($phones) {
            width: 290px;
            padding: 20px 10px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 14px;
    }

    &__text {
        width: 100%;
        margin-top: 15px;

        line-height: 20px;
    }

    &__name,
    &__tel {
        width: 100%;
        padding: 15px 16px;

        border: 1px solid #D8D8D8;
        border-radius: 4px;

        font-family: inherit;

        transition: border .3s linear;

        &::placeholder {
            color: #A0A0A0;
        }

        &:focus {
            border: 1px solid #000;
        }
    }

    &__name {
        margin-top: 35px;

        @include breakpoint($phones) {
            margin-top: 15px;
        }
    }

    &__tel {
        margin: 20px 0;
    }

    &__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }

    &__personal {
        border-bottom: 1px solid #278AFF;
        color: #278AFF;

        &:hover {
            border-bottom: none;
        }
    }
}