 .social {

     &__list {
         display: flex;
         flex-direction: column;
     }

     &__link {
         margin-bottom: 16px;
     }

     &__item {
         display: inline-block;
         width: 28px;
         height: auto;

         transition: opacity .1s linear;

         &:hover {
             opacity: .8;
         }
     }
 }